/* ------------ variables.scss ------------ */

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"), url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSans-Bold"), url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
}

$primary-font: "PT Sans", "Arial", sans-serif;
$primary-color: #333333;
$primary-background-color: #81b3d2;
$tablet-width: 768px;
$desktop-width: 1280px;

/* ------------ scaffolding.scss ------------ */

body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-family: $primary-font;
  text-transform: uppercase;
  color: $primary-color;
}

a {
  text-decoration: none;
}

[class*="--hidden"]:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ------------ mixins.scss ------------ */

@mixin no-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin no-outline() {
  outline: none;
  background: transparent;

  &::before {
    display: none;
  }
}

/* ------------ outlines.scss ------------ */

body {
  background: url("../img/bb-mobile.jpg") no-repeat 50% 0;
  background-size: 320px auto;
  min-height: 3610px;
}

@media (min-width: $tablet-width) {
  body {
    background: url("../img/bb-tablet.jpg") no-repeat 50% 0;
    background-size: 768px auto;
  }
}

@media (min-width: $desktop-width) {
  body {
    background: url("../img/bb-desktop.jpg") no-repeat 50% 0;
    background-size: 1280px auto;
  }
}

/* ------------ page-header.scss ------------ */
.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  width: 320px;
  height: 56px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page-header__logo {
    display: none;
  }
}

/* ------------ blocks/main-nav.scss ------------ */
.main-nav {
  width: 320px;
  margin: 0 auto;
}

.main-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 1200px;
  }
}

/* ------------ blocks/site-list.scss ------------ */
.site-list {
  min-height: 223px;
}

@media (min-width: $tablet-width) {
  .site-list {
    min-height: 56px;
  }
}

/* ------------ blocks/page-main.scss ------------ */
.page-main {
  display: flex;
  flex-direction: column;
}

.page-main__title {
  width: 320px;
  margin: 0 auto;

  /* temp */
  min-height: 389px;
}

@media (min-width: $tablet-width) {
  .page-main__title {
    width: 768px;

    /* temp */
    min-height: 518px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__title {
    width: 1200px;
  }
}

/* ------------ blocks/reason.scss ------------ */
.reason {
  width: 320px;
  margin: 0 auto;
}

/* height: header + description = 221px */
.reason__header {
  margin: 0;

  /* temp */
  min-height: 120px;
}

.reason__header-description {
  margin: 0;

  /* temp */
  min-height: 101px;
}

.reason__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

@media (min-width: $tablet-width) {
  .reason {
    width: 768px;
  }

  /* height: header + description = 206px */
  .reason__header {
    min-height: 105px;
  }
}

@media (min-width: $desktop-width) {
  .reason {
    width: 1200px;
  }
}

/* ------------ blocks/advantages-list.scss ------------ */
.advantage-list__wrapper-top {
  display: flex;
  flex-direction: column;

  /*temp*/
  min-height: 1338px;
}

.advantage-list__wrapper-bottom {
  display: flex;
  flex-direction: column;

  /* temp */
  min-height: 503px;
}

.advantage-list__item {
  /* temp */
  min-height: 168px;
}

.advantage-list__item--priority {
  /* temp */
  min-height: 451px;
}

.advantage-list__item:first-child .advantage-list__group {
  /* temp */
  min-height: 211px;
}

.advantage-list__group {
  /* temp */
  min-height: 191px;
}

.advantage-list__image {
  /* temp */
  min-height: 260px;
}

@media (min-width: $tablet-width) {
  .advantage-list__wrapper-top {
    /*temp*/
    min-height: 842px;
  }

  .advantage-list__wrapper-bottom {
    display: flex;
    flex-direction: row;

    /*temp*/
    min-height: 256px;
  }

  .advantage-list__item {
    /* temp */
    min-width: 256px;
  }

  .advantage-list__item--priority {
    /* temp */
    min-height: 256px;
  }

  .advantage-list__item:first-child .advantage-list__inner {
    display: flex;
    flex-direction: row;
  }

  .advantage-list__inner {
    display: flex;
    flex-direction: row-reverse;
  }

  .advantage-list__group {
    /* temp */
    min-width: 256px;
  }

  .advantage-list__image {
    /* temp */
    min-width: 512px;
    min-height: 256px;
  }
}

@media (min-width: $desktop-width) {
  .advantage-list__item {
    /* temp */
    min-width: 400px;
  }

  .advantage-list__group {
    /* temp */
    min-width: 400px;
  }

  .advantage-list__image {
    /* temp */
    min-width: 800px;
  }
}

/* ------------ blocks/attraction-list.scss ------------ */
.attraction-list {
  display: flex;
  flex-direction: column;

  /* temp */
  min-height: 416px;
}

.attraction-list-item {
  /* temp */
  min-height: 138px;
}

@media (min-width: $tablet-width) {
  .attraction-list {
    display: flex;
    flex-direction: row;

    /* temp */
    min-height: 256px;
  }

  .attraction-list-item {
    /* temp */
    min-width: 256px;
    min-height: 330px;
  }
}

@media (min-width: $desktop-width) {
  .attraction-list-item {
    /* temp */
    min-width: 400px;
  }
}

/* ------------ blocks/search-hotels.scss ------------ */
.search-hotels {
  width: 320px;
  margin: 0 auto;

  /*temp*/
  min-height: 637px;
}

.search-hotels__group {
  /* temp */
  min-height: 288px;
}

.search-hotels__map {
  /* temp */
  min-height: 350px;
}

@media (min-width: $tablet-width) {
  .search-hotels {
    width: 768px;

    /*temp*/
    min-height: 668px;
  }

  .search-hotels__group {
    /* temp */
    min-height: 318px;
  }
}

@media (min-width: $desktop-width) {
  .search-hotels {
    width: 1200px;

    /*temp*/
    min-height: 681px;
  }

  .search-hotels__group {
    /* temp */
    min-height: 331px;
  }
}

/* ------------ blocks/page-footer.scss ------------ */
.page-footer__wrapper {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;

    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    width: 1200px;
  }
}

/* ------------ blocks/contacts.scss ------------ */
.contacts {
  width: 320px;
  margin: 0 auto;

  /* tmp */
  min-height: 98px;
}

@media (min-width: $desktop-width) {
  .contacts {
    width: 400px;
    /* tmp */
    min-height: 120px;
  }
}

/* ------------ blocks/social.scss ------------ */
.social {
  width: 320px;
  margin: 0 auto;

  /* tmp */
  min-height: 48px;
}

.social__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

@media (min-width: $desktop-width) {
  .social {
    width: 400px;
  }
}

/* ------------ blocks/copyright.scss ------------ */
.copyright {
  width: 320px;
  margin: 0 auto;

  /* tmp */
  min-height: 97px;
}

@media (min-width: $desktop-width) {
  .copyright {
    width: 400px;
  }
}
