.attraction-list {
  display: flex;
  flex-direction: column;
  min-height: 416px;

  background-color: #ffffff;
}

.attraction-list__item {
  position: relative;
}

.attraction-list__item:first-child {
  .attraction-list__title {
    margin: 0;
    padding-top: 36px;
    padding-left: 70px;
  }

  .attraction-list__image {
    position: absolute;
    top: 25px;
    left: 22px;
  }
}

.attraction-list__item:nth-child(2) {
  .attraction-list__title {
    margin: 0;
    padding-top: 29px;
    padding-left: 70px;
  }

  .attraction-list__image {
    position: absolute;
    top: 17px;
    left: 22px;
  }
}

.attraction-list__item:last-child {
  .attraction-list__title {
    margin: 0;
    padding-top: 29px;
    padding-left: 70px;
  }

  .attraction-list__image {
    position: absolute;
    top: 22px;
    left: 19px;
  }
}

.attraction-list__description {
  margin: 0;
  padding-top: 13px;
  padding-left: 70px;
}

@media (min-width: $tablet-width) {
  .attraction-list {
    display: flex;
    flex-direction: row;

    /* temp */
    min-height: 256px;
  }

  .attraction-list__item {
    /* temp */
    min-width: 256px;
    min-height: 330px;
  }
}

@media (min-width: $desktop-width) {
  .attraction-list__item {
    /* temp */
    min-width: 400px;
  }
}

.attraction-list__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.attraction-list__description {
  font-size: 14px;
  line-height: 21px;
}
