.contact {
  padding-bottom: 35px;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

@media (min-width: $desktop-width) {
  .contact {
    width: 400px;
    /* tmp */
    min-height: 120px;
  }
}
