.contact {
  padding-bottom: 35px;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .contact {
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .contact {
    padding: 0;
  }
}
