.copyright {
  width: $mobile-width;
  height: 34px;
  margin: 0 auto;
  margin-bottom: 30px;
}

@media (min-width: $desktop-width) {
  .copyright {
    width: 400px;
  }
}

.copyright__text {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
}
