.copyright {
  display: flex;
  justify-content: center;
  height: 34px;
}

.copyright__text {
  margin-right: 10px;
  padding-top: 3px;

  font-size: 14px;
  line-height: 26px;
  color: #000000;
}

@media (min-width: $desktop-width) {
  .copyright {
    width: 400px;
  }
}
