.form__wrapper-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form__fieldset--introduce {
  /* tmp */
  min-height: 305px;
}

.form__fieldset--contact {
  /* tmp */
  min-height: 288px;
}

.form__fieldset--impression {
  /* tmp */
  min-height: 289px;
}

.form__fieldset--attraction {
  /* tmp */
  min-height: 410px;
}

.form__fieldset--emotion {
  /* tmp */
  min-height: 273px;
}

.form__field--textarea {
  max-width: 280px;
}

.form__quote {
  display: none;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .form__wrapper-top {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .form__wrapper-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .form__fieldset--impression {
    order: 1;
    width: 324px;
  }

  .form__fieldset--introduce {
    order: 2;
    width: 324px;
  }

  .form__fieldset--contact {
    order: 3;
    width: 100%;
  }

  .form__field--textarea {
    max-width: 730px;
  }

  .form__quote {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .form__fieldset--impression {
    width: 480px;
  }

  .form__fieldset--introduce {
    width: 480px;
  }
}

.form__legend {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.form__list {
  @include no-list;
}

.form__label,
.form__label-radio,
.form__label-checkbox {
  font-size: 14px;
  line-height: 26px;
}

.form__field,
.form__label-radio,
.form__label-checkbox {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: none;
  color: #000000;
}
