@import "../variables";

.form {
  font-size: 18px;
  line-height: 26px;

  .form__legend {
    font-size: inherit;
    font-weight: bold;
    line-height: inherit;
    color: #000000;
  }

  .form__label,
  .form__label-radio,
  .form__label-checkbox {
    font-size: 14px;
    line-height: 26px;
  }

  .form__label-radio,
  .form__label-checkbox {
    text-transform: none;
  }

  .form__field,
  .form__field-radio,
  .form__field-checkbox {
    font-size: inherit;
    font-weight: bold;
    line-height: inherit;
    text-transform: none;
    color: #000000;
  }
}
