.main-nav {
  position: relative;

  width: $mobile-width;
  margin: 0 auto;
}

.main-nav__toggle-close {
  position: absolute;
  top: 10px;
  right: 10px;

  z-index: 1; /* TODO удалить */
}

.main-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: $tablet-width;
  }

  .main-nav__toggle-close {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: $desktop-width;
  }
}
