.multimedia__header {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.multimedia__header-description {
  font-size: 14px;
  line-height: 24px;
}

.multimedia__title,
.multimedia__number-like {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
}

.multimedia__author {
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
}
