.page-main {
  display: flex;
  flex-direction: column;
}

.page-main__title {
  min-width: 320px;
  margin: 0 auto;

  /* temp */
  min-height: 389px;

  /* TODO Заменить заголовок на изображение */
  font-size: 70px;
  line-height: 10px;
  font-weight: bold;
  color: #ffffff;
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat;
}

@media (min-width: $tablet-width) {
  .page-main__title {
    width: 768px;

    /* temp */
    min-height: 518px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__title {
    width: 1200px;
  }
}
