.page-main {
  display: flex;
  flex-direction: column;
}

.page-main__wrapper-title {
  width: $mobile-width;
  min-height: 390px;
  margin: 0 auto;

  background: url("../img/bg-back-mobile@1x.jpg") no-repeat center center;

  img {
    display: block;
    margin: 0 auto;
    margin-top: 22px;
  }
}

@media (min-width: $tablet-width) {
  .page-main__wrapper-title {
    width: $tablet-width;

    /* temp */
    min-height: 520px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__title {
    width: $desktop-width;

    /* tmp */
    min-height: 301px;
  }
}
