.reason {
  width: 320px;
  margin: 0 auto;
}

/* height: header + description = 221px */
.reason__header {
  margin: 0;

  /* temp */
  min-height: 120px;

  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .reason {
    width: 768px;
  }

  /* height: header + description = 206px */
  .reason__header {
    min-height: 105px;
  }
}

@media (min-width: $desktop-width) {
  .reason {
    width: 1200px;
  }
}

.reason__header-description {
  margin: 0;

  /* temp */
  min-height: 101px;

  font-size: 14px;
  line-height: 26px;
}

.reason__list {
  margin: 0;
  padding: 0;

  @include no-list;
}
