@import "../variables";

.search-hotels {
  font-size: 14px;
  line-height: 24px;

  .search-hotels__header {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    color: #000000;
  }

  .search-hotels__header-description {
    font-size: inherit;
    line-height: inherit;
  }
}
