.search-hotels {
  width: $mobile-width;
  margin: 0 auto;
  text-align: center;
}

.search-hotels__group {
  padding-top: 27px;
  min-height: 258px;
}

.search-hotels__header {
  margin: 0;
  padding-bottom: 19px;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.search-hotels__description {
  margin: 0;
  padding-bottom: 34px;

  font-size: 14px;
  line-height: 24px;
}

.search-hotels__button {
  padding: 16px 44px;
}

.search-hotels__map {
  /* temp */
  min-height: 350px;
}

@media (min-width: $tablet-width) {
  .search-hotels {
    width: $tablet-width;

    /*temp*/
    min-height: 668px;
  }

  .search-hotels__group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 318px;
    padding: 0;
  }

  .search-hotels__header {
    padding: 0;
    padding-bottom: 30px;

    font-size: 30px;
  }

  .search-hotels__description {
    width: 460px;
    padding-bottom: 40px;
  }

  .search-hotels__button {
    width: 460px;
  }
}

@media (min-width: $desktop-width) {
  .search-hotels {
    width: $desktop-width;

    /*temp*/
    min-height: 681px;
  }

  .search-hotels__group {
    /* temp */
    min-height: 331px;
  }
}
