.social__item {
  display: inline-block;

  vertical-align: top;
}

.social__link {
  display: block;
  width: 19px;
  height: 20px;
  margin-right: 1px;
  padding: 14px 14px;

  background-color: $primary-background-color;
  color: #ffffff;
  text-align: center;
}

.social__item:first-child .social__link svg,
.social__item:last-child .social__link svg {
  margin-top: 3px;
}

.social__list {
  margin: 0;
  padding: 0;

  @include no-list;
}

.social__link--twitter {
  //background: url("../img/icon-twitter.svg") center no-repeat $primary-background-color;
}

.social__link--facebook {
  //background: url("../img/icon-facebook.svg") center no-repeat $primary-background-color;
}

.social__link--youtube {
  //background: url("../img/icon-youtube.svg") center no-repeat $primary-background-color;
}

@media (min-width: $tablet-width) {
  .social {
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .social {
    padding: 0;
    //width: 400px;
  }
}
