.social {
  width: 320px;
  margin: 0 auto;

  /* tmp */
  min-height: 48px;
}

@media (min-width: $desktop-width) {
  .social {
    width: 400px;
  }
}

.social__list {
  margin: 0;
  padding: 0;

  @include no-list;
}

.social__link--twitter {
  background: url("../img/icon-twitter.svg") center no-repeat $primary-background-color;
}

.social__link--facebook {
  background: url("../img/icon-facebook.svg") center no-repeat $primary-background-color;
}

.social__link--youtube {
  background: url("../img/icon-youtube.svg") center no-repeat $primary-background-color;
}
