@import "../variables";

.video-presentation {
  font-size: 14px;
  line-height: 24px;

  .video-presentation__header {
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
    color: #000000;
  }

  .video-presentation__header-description {
    font-size: inherit;
    line-height: inherit;
  }
}
